#photo-uploader {
    text-align: center;
}

#photo-uploader img {    
    border: thin solid var(--transparent-douglas-gray);
    height: 20rem;
    margin-bottom: 10px;
    object-fit: cover;
}

#photo-uploader .circular-photo-upload {
    width: 20rem;
    border-radius: 50%;
}

#photo-uploader label {
    color:white;
    display: inline-block;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 5px;
    background: var(--basic-purple);
}

#photo-uploader label:hover {
    background: var(--deep-purple);
}