#post-tag-list {
    margin-top: 5px;
}

#create-sale-post-modal {
    color: black;
}

.filter-menu{
    display: none;
}

.form-control{
    padding-bottom: 2%;
}

.input[type="radio"]
{
    padding-left: 3%;
}

div .description{
    overflow-wrap: break-word;
    overflow: hidden;
}