.ui.text.menu .item {
  color: #fff;
}

.ui.text.menu .item.active {
  /* color: var(--light-purple); */
  color: #ffd600;
}

.ui.text.menu .item:hover {
  /* color: var(--light-purple); */
  color: #ffd600;
}

i.icon.logo {
  background: url("../../assets/DSC_logo_color.png");
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.my {
  margin: 5px;
}

span {
  color: black;
}

.stick {
  position: fixed;
  top: 0;
  /* background: transparent; */
  width: 100%;
  z-index: 10;
}

i,
span {
  color: #fff;
}

/* i.active,
span.active {
  color: #ffd600;
} */
