.ui.text.menu {
  /* background-color: var(--douglas-gray); */
  margin: 0px;
  padding: 0px 20px;
  align-items: center;
}

.ui.text.menu .item {
  color: #fff !important;
  text-shadow: -1px 0px 1px black, 0px 1px 2px black;
  margin: 0.5rem;
}

.ui.text.menu .item.active {
  /* color: var(--light-purple); */
  color: white;
  text-shadow: 0px 0px 5px var(--basic-purple), 1px 0px 7px var(--light-purple);
}

.ui.text.menu .item.active:first-child {
  color: transparent;
}

.ui.text.menu .item:first-child.item:hover {
  color: transparent;
}

.ui.text.menu .item:hover {
  /* color: var(--light-purple); */
  color: white;
  text-shadow: 0px 0px 5px var(--basic-purple), 1px 0px 7px var(--light-purple);
}

/* i.icon.logo {
  background: url("../../assets/DSC_logo_color.png");
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
} */

i.icon.logo {
  height: 21px;
  width: 21px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.my {
  margin: 5px;
}

span {
  color: black;
}

.stick {
  position: fixed;
  top: 0;
  background: var(--transparent-douglas-gray) !important;
  width: 100%;
  z-index: 10;
}

/* i,
span {
  color: #fff;
} */

/* i.active,
span.active {
  color: #ffd600;
} */

/* span.text {
  color: #fff;
}

i {
  color: #fff;
} */

.ui.dropdown span,
.ui.dropdown i {
  color: #fff;
}

#sidebar-hamburger-menu {
  background: var(--douglas-gray);
  padding-top: 4rem;
  font-size: 1.5rem;
}

#sidebar-hamburger-menu p {
  text-align: center;
  margin-top: 1rem;
}

#sidebar-hamburger-menu .icon {
  float: none;
  margin-right: 10px;
}

#sidebar-hamburger-menu .image {
  margin: auto;
}

#sidebar-header {
  text-align: center;
  font-weight: bold;
}
