.event {
    background: rgba(255, 255, 255, 0.507);
    margin-bottom: 10px;
    padding: 3rem;

    border-radius: 5px;
    border: thin solid var(--douglas-gray);
}

.event-meta span.event-date {
    font-style: italic;
}

.event-more-button{
    float:right;
    background-color: var(--deep-purple) !important;
    color: white !important;
}

.event-more-button:hover {
    background-color: var(--light-purple) !important;
}