#sign-up-container {
  width: 50%;
  /* position: absolute;
  left: 25%;
  top: 25%; */
  margin: 100px 0px;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 37px var(--douglas-gray);
  border-radius: 10px;
}
