footer {
  /* background-color: var(--transparent-douglas-gray); */
  color: white;
  text-align: center;
  padding: 1.5rem;
  text-shadow: 1px 0.5px 4px black;
  position: relative;
  z-index:3;
}

ul {
  padding: 0;
  margin-bottom: 1rem;
}

footer a {
  color: inherit;
}

footer a:hover {
  color: white;
  text-shadow: 0px 0px 5px var(--basic-purple), 1px 0px 7px var(--light-purple);
}

li {
  list-style: none;
  display: inline-block;
  margin: 0rem 0.5rem;
}
