#cover-container {
  position:relative;
}

#getToKnowUs {
  padding: 2.5vw;
  position: absolute;
  right: 7vw;
  bottom: 3.1vw;
  color: #000000e0;
  /* box-shadow: 0px 0px 5px #00000094, 1px 0px 6px #0000004a;
  border: 2.5px solid #000000ba; */
  mix-blend-mode: color-burn;
  background: #ffffffcf;
  font-size: 2vw;
  z-index: 1;
}

#getToKnowUs:hover {
  background-color: var(--basic-purple);
  color: white;
}
.cover-image{
  z-index: 2 ;
  pointer-events: none !important;
}

h1.featured-text {
  position: absolute;
  z-index: 6;
  color: transparent;
  font-size: 6.8vw;
  text-shadow: 0px 0px 1px #312424, 1px 0px 1px #000000;
  mix-blend-mode: color-burn;
}

#featuredText {
  bottom: 8vw;
  left: 0vw;
}

#featuredText2 {
  bottom: 10vw;
  right: 8vw;
  position: absolute;
  mix-blend-mode: hard-light;
  text-shadow: 0px 0px 1px #55405a, 1px 0px 1px #000000;
}

.event {
  background: rgba(255, 255, 255, 0.507);
  margin-bottom: 10px;
  padding: 3rem;

  border-radius: 5px;
  border: thin solid var(--douglas-gray);
}

.event-meta span.event-date {
  font-style: italic;
}

.event-more-button {
  float: right;
  background-color: var(--deep-purple) !important;
  color: white !important;
}

#events-news-container h1 {
  text-align: center;
}

#events-news-container p {
  text-align: justify;
  display: inline-block;
}
