#featuredContent {
    position: relative;
    height: 40rem;
    /* overflow: hidden; */
}

#featuredContent .ui.image {
    position: absolute;
}

#featuredBkgImg {
    height: 100%;
    z-index: 1;
    opacity: 0.0;
}

#featuredFace {
    z-index: 6;
    bottom: 0px;
    height:100%;
    width: auto;
    right: 1rem;
}

#featuredCircleBlue {
    height: 8rem;
    width: 12rem;
    top: 50px;
    left: 70px;
    z-index: 3;
 }

#featuredCirclePlain {
    height: 15rem;
    width: 20rem;
    bottom: -65px;
    right: -65px;
    z-index: 6;
}

#featuredCircleLines {
    height: 13rem;
    width: 21rem;
    left: -70px;
    top: -30px;
    opacity: 0.5;
    z-index: 2;
}

button#getToKnowUs {
    position: absolute;
    background-color: #B9AAFF;
    color: white;
    z-index: 7;
    height: 4rem;
    width: 15rem;

    bottom: 30px;
    right: 110px;
}

button#getToKnowUs:hover {
    background-color: var(--basic-purple);
    color: white;
}

#featuredText {
    position:absolute;
    z-index: 6;
    color:white;
    top: 20rem;
    left: 5rem;
    font-size: 5vw;
}

#featuredText2 {
    position:absolute;
    z-index: 6;
    color:white;
    top: 20rem;
    right: 6rem;
    font-size: 5vw;
}