#featuredContent {
    position: relative;
    height: 40rem;
    overflow: hidden;
}

#multicolorAnimation {
    position: absolute;
    z-index: 3;
    opacity: 0.5;
}

#featuredContent .ui.image {
    position: absolute;
}

#featuredBkgImg {
    height: 100%;
    z-index: 1;
}

#featuredFace {
    z-index: 6;
    bottom: 0px;
    height:100%;
}

#featuredCircleBlue {
    height: 8rem;
    width: 13rem;
    top: 50px;
    left: 70px;
    z-index: 3;
 }

#featuredCirclePlain {
    height: 15rem;
    width: 20rem;
    bottom: -72px;
    right: -39px;
    z-index: 6;
}

#featuredCircleLines {
    height: 15rem;
    width: 20rem;
    left: -70px;
    top: -30px;
    z-index: 2;
}

button#getToKnowUs {
    position: absolute;
    background-color: white;
    color: black;
    z-index: 7;
    height: 4rem;
    width: 15rem;

    bottom: 30px;
    right: 110px;
}

button#getToKnowUs:hover {
    background-color: #7400B8;
    color: white;
}

#featuredText {
    position:absolute;
    z-index: 6;
    color:white;
    top: 24rem;
    left: 5rem;
    font-size: 4vw;
}