:root {
  --douglas-gray: #3d3e50;
  --deep-purple: #7400b8;
  --basic-purple: #6930c3;
  --light-purple: #ddcaed;
  --transparent-douglas-gray: #0e0e0e2e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  color: #fff;
}

div.ui.container {
  margin-top: 50px; /*height of the navbar + 20px*/
}

img {
  width: 100%;
}

#root {
  overflow: hidden;
  font-size: 14px;
  line-height: normal;
  background-color: var(--light-purple);
  min-height:100%;
}

/* Fancy Background Stuff below With Clip text effect*/
/* html {
  overflow: hidden;
} */

#fancy-background, head{/* body, head {  */
  display: block;
  font-size: 60px; /* for the content property ie dot size*/
  color: transparent;
}

/* head::before, head::after,
body::before, body::after { */
head::before, head::after,
#fancy-background::before, #fancy-background::after {  
position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  /* this content property mimics the colorful dots we had before*/
  content: ". ... .. . .  .. . . ..";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite cubic-bezier(0.4, 0, 1, 1) alternate;
}

/* body::before { */
  #fancy-background::before{
  text-shadow: -0.3910129987em 0.2813561486em 3px rgba(59, 0, 255, 1), 1.2744881082em 0.1854671597em 3px rgba(133, 255, 0, 1), 2.0566218635em 1.0219592075em 3px rgba(0, 170, 255, 1), 2.2673151098em 0.5337384562em 3px rgba(255, 168, 0, 1), 0.9540745803em -0.2796585145em 3px rgba(0, 227, 255, 1), 0.1963496244em -0.3414232621em 3px rgba(166, 255, 0, 1), 1.8798071133em 1.722207776em 3px rgba(255, 14, 0, 1), 0.7861888961em 1.5940169802em 3px rgba(255, 224, 0, 1), -0.4245764367em 0.8590607581em 3px rgba(255, 0, 112, 1), 1.3232197836em 1.7227361654em 3px rgba(0, 131, 255, 1), 0.4942675201em -0.2018743101em 3px rgba(255, 0, 232, 1), 0.7132012804em 1.5145153104em 3px rgba(255, 0, 220, 1), 0.7975866028em 1.1760062798em 3px rgba(255, 0, 236, 1), 1.4249412835em 1.8042084173em 3px rgba(0, 232, 255, 1), -0.2057264916em 0.0462592975em 3px rgba(255, 0, 196, 1), 0.7940655794em 1.0424884071em 3px rgba(189, 0, 255, 1), 2.4303751116em 0.4530944992em 3px rgba(181, 255, 0, 1), 1.3518771375em 1.7774763414em 3px rgba(245, 0, 255, 1), -0.3904124153em 1.1545926368em 3px rgba(255, 141, 0, 1), 0.7898936113em 0.3197135577em 3px rgba(255, 63, 0, 1), 1.7269362008em 1.1879052434em 3px rgba(206, 0, 255, 1), 0.0435465995em 0.3819009032em 3px rgba(140, 0, 255, 1), 1.5461582502em -0.2960006623em 3px rgba(0, 255, 114, 1), 1.0584299535em -0.1801122542em 3px rgba(255, 44, 0, 1), 0.7779046684em 0.0081917957em 3px rgba(0, 255, 98, 1), 1.9673152964em 0.0912455991em 3px rgba(0, 255, 85, 1), 2.3056953229em -0.4102849201em 3px rgba(0, 245, 255, 1), 2.2967913421em 2.027639647em 3px rgba(255, 0, 41, 1), 0.0788354128em 0.8642962223em 3px rgba(71, 0, 255, 1), 0.5163653776em 0.4507374852em 3px rgba(255, 0, 231, 1), 0.5198984881em 1.6673898268em 3px rgba(4, 255, 0, 1), 0.2078652906em 1.3171322176em 3px rgba(91, 0, 255, 1), -0.2042398808em -0.339725252em 3px rgba(1, 0, 255, 1), 0.9894116563em 0.7251385713em 3px rgba(255, 0, 62, 1), 1.8077888552em 0.6268279499em 3px rgba(151, 255, 0, 1), 0.8840628258em 2.2298291812em 3px rgba(11, 255, 0, 1), 0.1369078939em -0.3720130558em 3px rgba(201, 0, 255, 1), 1.4738417027em 1.7469236347em 3px rgba(0, 255, 184, 1), 0.6464042074em 0.6585433761em 3px rgba(0, 255, 148, 1), -0.1608418em 2.2824251496em 3px rgba(0, 255, 248, 1), 1.0791391435em 0.9811875314em 3px rgba(0, 255, 35, 1);
  animation-duration: 44s;
  animation-delay: -27s;
}

/* body::after { */
  #fancy-background::after{
  text-shadow: 1.8635605415em 0.8014583259em 3px rgba(255, 0, 115, 1), 2.2263983792em 1.6028932511em 3px rgba(0, 43, 255, 1), 1.3989877804em 0.446876044em 3px rgba(0, 255, 35, 1), 2.1281084731em 2.3059304934em 3px rgba(178, 255, 0, 1), 1.7791309727em 1.1114806484em 3px rgba(255, 0, 45, 1), 1.1311696687em 2.074036833em 3px rgba(0, 255, 193, 1), -0.3448858368em 2.4898993478em 3px rgba(0, 255, 221, 1), -0.481113129em -0.2660490011em 3px rgba(255, 0, 116, 1), 0.2363070571em 1.3379588033em 3px rgba(255, 0, 138, 1), 1.9704105803em 2.391943741em 3px rgba(0, 255, 87, 1), 0.0570085273em 1.421119667em 3px rgba(0, 255, 197, 1), 2.4956538073em 1.0154380919em 3px rgba(73, 0, 255, 1), 0.7082165414em 0.0989275765em 3px rgba(255, 0, 69, 1), 0.215918414em -0.3922664817em 3px rgba(0, 228, 255, 1), 0.384158293em 1.3987355577em 3px rgba(0, 93, 255, 1), 1.4054332761em 1.4036873373em 3px rgba(0, 47, 255, 1), 1.3316993521em 0.0253911274em 3px rgba(255, 0, 188, 1), 1.2923494564em 0.6642307432em 3px rgba(0, 130, 255, 1), 1.2289143782em 1.537246704em 3px rgba(255, 189, 0, 1), 1.6508526883em 2.4129005604em 3px rgba(255, 117, 0, 1), 0.1242461927em 2.427859618em 3px rgba(90, 255, 0, 1), 0.5497210861em 1.9330524731em 3px rgba(0, 255, 78, 1), -0.4816216207em 1.4417450816em 3px rgba(165, 0, 255, 1), 2.2601291656em 0.7622980864em 3px rgba(114, 0, 255, 1), 0.535647949em -0.1069402337em 3px rgba(0, 255, 10, 1), 0.3773821242em 0.8938601323em 3px rgba(255, 0, 117, 1), 2.219193261em -0.2249709101em 3px rgba(255, 0, 181, 1), 2.2579113659em 1.738099469em 3px rgba(0, 255, 219, 1), 0.3662231773em 1.144813443em 3px rgba(0, 255, 80, 1), 1.4760560781em -0.3676645437em 3px rgba(233, 0, 255, 1), -0.31139715em 0.1813890873em 3px rgba(0, 242, 255, 1), 2.0168820976em 1.3905925606em 3px rgba(255, 191, 0, 1), 1.8347443134em 0.2822614843em 3px rgba(106, 0, 255, 1), 0.6145875328em -0.3067883434em 3px rgba(0, 169, 255, 1), 2.3675233423em 0.7159523179em 3px rgba(255, 182, 0, 1), 0.2593663542em 1.1794636798em 3px rgba(0, 255, 27, 1), 1.3427917825em 1.2962193607em 3px rgba(255, 14, 0, 1), 1.4748758799em 1.4335000712em 3px rgba(0, 207, 255, 1), 0.1584483765em 2.328155985em 3px rgba(255, 101, 0, 1), 1.5999127851em 0.7994995583em 3px rgba(0, 255, 177, 1), -0.442989791em -0.4591480056em 3px rgba(255, 0, 70, 1);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 2.0550486143em 0.9718319019em 3px rgba(255, 0, 39, 1), 2.3746626768em 2.3587895621em 3px rgba(255, 81, 0, 1), -0.3839293836em 1.8267286163em 3px rgba(216, 0, 255, 1), 1.1168651009em 0.4274120444em 3px rgba(33, 255, 0, 1), 0.0042714492em 2.3088098326em 3px rgba(189, 255, 0, 1), 0.5232139417em 0.11276293em 3px rgba(108, 255, 0, 1), 0.5157415146em 1.0152262142em 3px rgba(0, 255, 8, 1), 1.0551574201em 0.2743846999em 3px rgba(255, 108, 0, 1), 2.3426757939em 2.2743064334em 3px rgba(133, 0, 255, 1), 0.4716904739em -0.4061324826em 3px rgba(255, 0, 108, 1), 2.2799301272em 1.8017923001em 3px rgba(255, 43, 0, 1), 0.0706424545em 1.7665284746em 3px rgba(88, 255, 0, 1), -0.1640377259em 2.2219256271em 3px rgba(255, 0, 224, 1), -0.018900714em 2.2767250978em 3px rgba(183, 255, 0, 1), 0.4087437128em 2.3394385112em 3px rgba(0, 255, 227, 1), 2.4789462563em 2.385062498em 3px rgba(0, 255, 188, 1), 0.590199545em -0.321937745em 3px rgba(0, 37, 255, 1), 1.2828522449em 0.4483101688em 3px rgba(217, 0, 255, 1), 1.8612277537em 2.4275263525em 3px rgba(255, 0, 116, 1), 0.521244338em -0.0653206277em 3px rgba(255, 79, 0, 1), 2.0173650966em 0.7287008881em 3px rgba(255, 10, 0, 1), 0.3698211209em 0.1418467127em 3px rgba(197, 255, 0, 1), 2.3485588828em 0.3965990114em 3px rgba(116, 255, 0, 1), 1.7236040917em 2.4160500828em 3px rgba(42, 255, 0, 1), 0.4985581241em 2.4445393834em 3px rgba(0, 181, 255, 1), 1.5921726603em 0.642317548em 3px rgba(147, 255, 0, 1), 1.5254168302em 0.7381813439em 3px rgba(0, 255, 25, 1), 1.9285553692em 1.1346508673em 3px rgba(255, 0, 156, 1), 0.6373027782em 1.1645002517em 3px rgba(255, 0, 194, 1), 2.1682757244em 2.3696756783em 3px rgba(45, 255, 0, 1), -0.0547237592em 1.4193447096em 3px rgba(217, 255, 0, 1), 0.5318886497em 1.143027506em 3px rgba(0, 189, 255, 1), 2.2011786275em 1.0010760765em 3px rgba(255, 157, 0, 1), 2.1546746986em 2.0005226776em 3px rgba(0, 252, 255, 1), 1.9373088855em -0.0464851578em 3px rgba(255, 20, 0, 1), 1.8675565494em 0.515065059em 3px rgba(244, 255, 0, 1), 0.5555705293em -0.1554375584em 3px rgba(255, 123, 0, 1), 2.3726941303em -0.1075696636em 3px rgba(255, 0, 109, 1), 1.1885014876em -0.326002437em 3px rgba(139, 255, 0, 1), 2.4305861446em 2.3716213196em 3px rgba(255, 0, 21, 1), -0.4364925172em 1.4995869159em 3px rgba(255, 135, 0, 1);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 1.0780312265em -0.3636061048em 3px rgba(255, 252, 0, 1), 1.723228196em 0.1445647337em 3px rgba(0, 190, 255, 1), 0.0770381273em 0.6401690915em 3px rgba(255, 0, 46, 1), 2.1787015762em 0.9383011104em 3px rgba(255, 0, 235, 1), 1.3898065137em 0.8589515827em 3px rgba(0, 255, 195, 1), 0.2108881101em -0.05049988em 3px rgba(0, 120, 255, 1), 0.862483776em -0.4312403551em 3px rgba(255, 53, 0, 1), 0.6697726606em 0.3439986003em 3px rgba(0, 255, 187, 1), 1.2023013876em -0.0170654774em 3px rgba(237, 0, 255, 1), 2.3229738635em 0.9926000953em 3px rgba(0, 70, 255, 1), 0.4789693484em 0.4096019879em 3px rgba(255, 61, 0, 1), -0.4434989946em -0.111869984em 3px rgba(0, 255, 110, 1), 1.6816680389em 2.231209829em 3px rgba(0, 255, 240, 1), 0.599409862em 0.2677138018em 3px rgba(14, 0, 255, 1), 0.8872755545em 2.3616474336em 3px rgba(0, 149, 255, 1), 1.2444550786em 1.5871458232em 3px rgba(54, 255, 0, 1), 0.9743357351em 0.8666717779em 3px rgba(255, 0, 31, 1), 1.9726116761em 2.2315011339em 3px rgba(202, 255, 0, 1), 1.641943606em -0.2160929627em 3px rgba(32, 0, 255, 1), -0.2865416789em 1.3696424631em 3px rgba(255, 165, 0, 1), 1.8966730027em 0.8617495192em 3px rgba(72, 255, 0, 1), 0.0692266416em 2.4968770231em 3px rgba(0, 255, 119, 1), 0.9066494466em 2.4310246418em 3px rgba(255, 232, 0, 1), 0.761786121em 2.1617472223em 3px rgba(255, 238, 0, 1), 1.233922007em 1.7341721205em 3px rgba(255, 0, 178, 1), 1.0743264632em 1.2895626978em 3px rgba(77, 255, 0, 1), 2.2239385443em 1.4694362991em 3px rgba(255, 0, 215, 1), 2.2160386719em 0.0386909557em 3px rgba(255, 254, 0, 1), 0.2502525852em 1.7845950097em 3px rgba(0, 255, 83, 1), 1.2079374269em -0.0559521293em 3px rgba(99, 255, 0, 1), 1.6972040603em 0.6937942278em 3px rgba(108, 0, 255, 1), 2.0473278765em -0.1160481199em 3px rgba(73, 255, 0, 1), -0.1844272199em 1.1474381229em 3px rgba(255, 106, 0, 1), 1.5170384143em 2.0781015393em 3px rgba(0, 85, 255, 1), 2.0565892277em 1.7255096375em 3px rgba(0, 211, 255, 1), 0.1873900893em 1.9560224139em 3px rgba(2, 255, 0, 1), 0.2792377866em 2.4670520717em 3px rgba(229, 0, 255, 1), 0.9280689962em 1.126275587em 3px rgba(129, 255, 0, 1), -0.4009006953em 0.2864914378em 3px rgba(255, 0, 86, 1), -0.250262145em 1.5898132343em 3px rgba(255, 0, 90, 1), -0.2144422455em -0.0727452753em 3px rgba(255, 0, 120, 1);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(30) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(50) translateX(20px);
  }
}