.admin-search {
    margin: auto;
    width: 100%;
}

.admin-search .input {
    width: 100%;
}

.admin-edit-modal {
    color: black;
}

.admin-modal-image {
    margin-bottom: 1rem;
    height: 20rem;
    object-fit: cover;
}

td.select-td {
    overflow: visible !important;
}
.ui.selection.dropdown {
    min-width: 6rem;
    width:9rem;
}

td.no-ellipsis {
    text-overflow: clip !important;
}